th {
    border-bottom: solid 3px blue;
    background-color: aliceblue;
    color: black;
    font-weight: bold;
}

td {
    padding: 10px;
    border: solid 1px gray;
    background: white;
}

.hidden {
    display: none;
}

input {
    width: 95%;
}

button {
    border-radius: 4px;
    background: #808080;
    padding: 10px 22px;
    color: #000000;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    margin: 10px;
}

button:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
}